.DS_Store
work/
outputs/
macOS/MediaInventory/build/
macOS/MediaInventory/dist/
**/DerivedData/
**/xcuserdata/
*.xcuserstate
*.xcarchive/
*.dmg
*.pkg
*.db
*.db-journal
*.db-shm
*.db-wal
*.p12
*.mobileprovision
*.provisionprofile
